            <div id="rightSide" class="row col-lg-12 col-md-12">
                <div id="movieInfo" class="row col-lg-12 col-md-12">
                    <div id="fromAPI" class="col-lg-10 col-md-10 row">
                        <div id="moviePoster" class="col-lg-3">
                            {{movie_poster}}
                        </div>
                        <div id="movieInfo" class="col-lg-9 col-md-9">
                            {{movie_title}}, {{release_year}}
                            Director: {{director}}
                            Writer: {{movie_writer}}
                            Cast: {{movie_actor}}
                        </div>
                    </div>
                    <div id="disContainer" class="col-lg-12 col-md-12 flex-fill border">
                        <label id="discThread" class="text-center col-lg-12 col-md-12">
                            {{thread_title}}
                        </label>
                        <div id="discReplyContainer">

                        </div>
                    </div>
                </div>
            </div>